
@model List<BELibrary.Models.View.FilmView>
<div class="row">
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        <div class="col-md-6 movie movie--test @(i % 2 == 0 ? "movie--test--light movie--test--left" : "movie--test--dark movie--test--right")">
            <div class="movie__images">
                <a href="/film/detail?id=@item.Id" class="movie-beta__link">
                    <img alt="@item.Name" src="@item.Image" />
                </a>
            </div>
            <div class="movie__info">
                <a href="/film/detail?id=@item.Id" class="movie__title">@item.Name</a>
                <p class="movie__time">@item.Time min</p>
                <p class="movie__option">@string.Join(" | ", item.FilmMovieTypes.Select(type => $"<a href='/Film/Search?category={type}'>{type}</a>"))</p>
                <div class="movie__rate">
                    <span class="movie__rating">4.1</span>
                </div>
            </div>
        </div>
    }
    }
</div>
