@using BELibrary.Models.View

@{
    var bestChoices = (List<FilmView>)ViewBag.BestChoices;
    var films = (List<FilmView>)ViewBag.Films;
}

<!-- Section: home -->
@Html.Partial("_PartialSlide")
<!-- Main content -->
<section class="container">
    @Html.Partial("_BestChoices")

    @Html.Partial("_SearchForm")

    <div class="clearfix"></div>

    <h2 id='target' class="page-heading heading--outcontainer">Now in the cinema</h2>
    @Html.Partial("_MovieList")
  

    @Html.Partial("_LatestNews")
</section>
@section Scripts {
    <script src="~/Scripts/js/home/home.js"></script>

    <script src="~/Scripts/js/base/click.js"></script>

}
